/* utility class */
h1 {
    font-size: 3rem;
    padding: 38px;

}

h2 {
    font-size: 2rem;
    padding: 38px;
}

.center {
    text-align: center;

}


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* CSS Variables */
/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;

}


#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}





/* Navigation Bar list styling */



#navbar ul {
    display: flex;


}

#navbar ul li {
    list-style: none;
    font-size: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

#navbar ul li a:hover {
    color: white;
    /* color: black; */
    font-size: 25.5px;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid red;


}

#navbar ul li a {
    cursor: url(img.png), auto;
}

body::before {
    content: "";
    background: url(farm.jpg) no-repeat center/cover;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}


.mid {

    display: block;
    width: 33%;
    margin: 20px auto;

}

.right {
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;

}




.btn {
    color: whitesmoke;
    background-color: black;
    border: 1px solid pink;
    border-radius: 10px;
    margin: 1px 10px;
    padding: 2px 3px;

}

.btn:hover {
    border: 2px solid cyan;
    background-color: chocolate;
}

.container {
    background-image: linear-gradient(to right, rgb(0, 195, 255) ,white ,pink);
    border: 2px solid hsl(180deg 100% 50%);
    width: 33%;
    padding: 28px 26px;
    margin: 46px 39px;
    border-radius: 20px;
}

.container h1 {
    text-align: center;
}

.space input {
    display: block;
    border-radius: 19px;
    padding: 9px 81px;
    margin: 6px auto;
    width: 155px;
    font-size: 17px;
    border: 1px solid hsl(180deg 100% 50%);
    background-color: rgb(121, 252, 252);
    ;
    text-align: center;
}

.space input:hover {
    border: 1px solid rgb(121, 252, 252);
    background-color: hsl(180deg 100% 50%);

}

.n {
    border: 1px solid rgb(121, 252, 252);
    background-color: hsl(180deg 100% 50%);
    border-radius: 15px;
    padding: 8px 3px;

    border-radius: 15px;
    padding: 8px 3px;
    margin: 2px 62px;
    width: 307px;
    margin: 2px 62px;
    width: 307px;
}

.n:hover {
    border: 2px solid hotpink;
}
.test{
    
    position: absolute;
    right: 100px;
    top: 250px;
    height: 500px;
    width: 500px;
    
}
.test:hover{
    
    background-image: url(snip.jpg);

}
footer {
    background-color: black;
    color: honeydew;
    position: absolute;

    border-bottom: 2px solid black;
    right: 0px;
    left: 0px;
    bottom: 0px;
}